// Edit Bootstrap Style
@Navbar_BackgroundColor: #FFAA00;
@Navbar_ActiveColor:     #EE9900;
@Navbar_FontColor:       #004488;
.navbar-orange {
  background-color: @Navbar_BackgroundColor;
  border-color:     @Navbar_BackgroundColor;
}
.navbar-orange .navbar-brand {
  color: @Navbar_FontColor;
}
.navbar-orange .navbar-brand:hover,
.navbar-orange .navbar-brand:focus {
  color: #fff;
  background-color: transparent;
}
.navbar-orange .navbar-text {
  color: @Navbar_FontColor;
}
.navbar-orange .navbar-nav > li > a {
  color: @Navbar_FontColor;
}
.navbar-orange .navbar-nav > li > a:hover,
.navbar-orange .navbar-nav > li > a:focus {
  color: #fff;
  background-color: transparent;
}
.navbar-orange .navbar-nav > .active > a,
.navbar-orange .navbar-nav > .active > a:hover,
.navbar-orange .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: @Navbar_ActiveColor;
}
.navbar-orange .navbar-nav > .disabled > a,
.navbar-orange .navbar-nav > .disabled > a:hover,
.navbar-orange .navbar-nav > .disabled > a:focus {
  color: #444;
  background-color: transparent;
}
.navbar-orange .navbar-toggle {
  border-color: #333;
}
.navbar-orange .navbar-toggle:hover,
.navbar-orange .navbar-toggle:focus {
  background-color: #333;
}
.navbar-orange .navbar-toggle .icon-bar {
  background-color: #fff;
}
.navbar-orange .navbar-collapse,
.navbar-orange .navbar-form {
  border-color: #101010;
}
.navbar-orange .navbar-nav > .open > a,
.navbar-orange .navbar-nav > .open > a:hover,
.navbar-orange .navbar-nav > .open > a:focus {
  color: #fff;
  background-color: @Navbar_ActiveColor;
}
@media (max-width: 767px) {
  .navbar-orange .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: @Navbar_ActiveColor;
  }
  .navbar-orange .navbar-nav .open .dropdown-menu .divider {
    background-color: @Navbar_ActiveColor;
  }
  .navbar-orange .navbar-nav .open .dropdown-menu > li > a {
    color: @Navbar_FontColor;
  }
  .navbar-orange .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-orange .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fff;
    background-color: transparent;
  }
  .navbar-orange .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-orange .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-orange .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: @Navbar_ActiveColor;
  }
  .navbar-orange .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-orange .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-orange .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #444;
    background-color: transparent;
  }
}
.navbar-orange .navbar-link {
  color: @Navbar_FontColor;
}
.navbar-orange .navbar-link:hover {
  color: #fff;
}
.navbar-orange .btn-link {
  color: @Navbar_FontColor;
}
.navbar-orange .btn-link:hover,
.navbar-orange .btn-link:focus {
  color: #fff;
}
.navbar-orange .btn-link[disabled]:hover,
fieldset[disabled] .navbar-inverse .btn-link:hover,
.navbar-orange .btn-link[disabled]:focus,
fieldset[disabled] .navbar-inverse .btn-link:focus {
  color: #444;
}

////////////////////////////
//                        //
//      Edit By Dave      //
//                        //
////////////////////////////
.panel {
  margin-left: auto;
  margin-right: auto;
}
.panel-width-25 {
  width: 25%;
}
.panel-width-60 {
  width: 60%;
}
.panel-width-80 {
  width: 80%;
}

.color-cover {
  width: 74px;
  height: 74px;
  margin: -5px;
  background-color: orange;;
  position: absolute;
  opacity: 0.5;
  pointer-events: none;
}
.selection-unable {
  opacity: 0.5;
  pointer-events: none;
  background-color: transparent;
}


.product-page-description {
  right: 0;
  width: 20%;
  position: fixed;
  .btn-order{
    width: 100%;
    height: 60px;
    color: white;
    font-size: 36px;
    font-weight: bold;
    background-color: #FFAA00;
  }
  .btn-cart {
    width: 100%;
    height: 40px;
    color: #204d74;
    font-size: 24px;
    font-weight: bold;
  }
  .product-page-subheader {
    border-bottom: black 2px solid;
  }
  .product-page-price {
    text-align: right;
    > span {
      color: red;
    }
  }
}

body {
  -webkit-user-select: none;
}






// Will Delete

@NavbarBackgroundColor:  #FFAA00;

@PanelHeaderBackgroundColor:  orange;
@PanelHeaderFontColor:        darkblue;
@PanelBorderColor:  darkorange;
@PanelBorderWidth:  2px;
@PanelBorderStyle:  ridge;

.navbar2 {
  width:            101.6%;
  height:           30px;
  margin-left:      -1%;
  margin-top:       -8px;
  z-index:          1;
  position:         fixed;
  background-color: @NavbarBackgroundColor;
  .btn_dashboard {
    right:    138px;
    top:      5px;
    position: absolute;
  }
  .btn_mainpage,
  .btn_profile {
    right:    80px;
    top:      5px;
    position: absolute;
  }
  .btn_logout {
    right:    20px;
    top:      5px;
    position: absolute;
  }
}

.panel2 {
  width:        30%;
  margin-left:  auto;
  margin-right: auto;
  margin-top:   100px;
  border-color: @PanelBorderColor;
  border-width: @PanelBorderWidth;
  border-style: @PanelBorderStyle;
  .header {
    color:        @PanelHeaderFontColor;
    text-align:   center;
    font-weight:  bold;
    background-color: @PanelHeaderBackgroundColor;
    border-color: @PanelBorderColor;
    border-width: @PanelBorderWidth;
    border-style: @PanelBorderStyle;
  }
  > .column,
  .column-sub-image > .column {
    display: flex;
    display: -webkit-flex;
    > div {
      width:          30%;
      text-align:     right;
      padding-right:  10px;
    }
    > input, textarea, label, img {
      left: 100px;
      width: 50%;
    }
    > img {
      height: 50%;
    }
    .image-icon {
      width: 128px;
      height:128px;
      overflow: hidden;
      > img {
        width:128px;
        height:128px;
      }
    }
    .checkbox-selection {
      width: 10%;
    }
    .create-size {
      width: 50%;
      text-align: left;
      display: flex;
      display: -webkit-flex;
      flex-wrap: wrap;
      .size-selection {
        width: 20%;
        border: lightgrey 1px dotted;
        margin-right: 10px;
        > input {
          width:50%;
          text-align: center;
        }
      }
    }
    .create-color {
      width: 50%;
      text-align: left;
      display: flex;
      display: -webkit-flex;
      flex-wrap: wrap;
      .color-selection {
        width: 46%;
        padding-left: 2%;
        padding-right: 2%;
        >input {
          width: 50%;
        }
        >button {
          position: absolute;
          margin-left: 5%;
        }
        >img {
          width: 100%;
          height: 100%;
        }
      }
      >button {
        height: 50%;
        margin-left: 2%;
      }
    }
  }
  .button-1-col {
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
  }
  .button-2-left {
    width: 20%;
    margin-left: 25%;
  }
  .button-2-right {
    width: 20%;
    margin-left: 10%;
  }
}
.panel-no-border {
  border: none;
}
.panel-large-1 { width: 40%; }
.panel-large-2 { width: 60%; }
.panel-large-3 { width: 80%; }
.panel-top-half {
  margin-top:  50px;
}

.panel-col2-1 {
  left:10%;
  position: absolute;
}
.panel-col2-2 {
  right: 10%;
  position: absolute;
}


.div-button-2-left {
  width: 20%;
  margin-left: 25%;
}
.div-button-2-right {
  width: 20%;
  margin-left: 10%;
}


.display_flex {
  display: flex;
  display: -webkit-flex;
}

.sidebar {
  width:              15%;
  height:             1000px;
  margin-top:         22px;
  //border-right-color: @PanelBorderColor;
  //border-right-width: 10px;
  //border-right-style: @PanelBorderStyle;
  position:           fixed;
  //background-color:   orange;
  margin-left:        -10px;
  .sidebar_tab, .sidebar_subtab {
    width:            100%;
    text-align:       center;
    padding-top:      15px;
    padding-bottom:   15px;
    margin-left:      -5px;
    //background-color: #CCCCCC;
    &:hover {
      background-color: lightsalmon;
    }
    &:focus {
      background-color: darkorange;
    }
  }
  .active {
    background-color: darkorange;
  }
}

.container {
  left:     17.5%;
  width:    80%;
  position: absolute;
}

.table-large {
  width:    100%
}
.table2 {
  > thead {
    > th {
      background-color: #888888;
    }
    .email-from, .email-to {
      width: 25%;
    }
    .key {
      width: 15%;
    }
    .time {
      width: 25%;
    }
    .checkbox {
      width: 5%;
    }
  }
  > tbody {
    > tr:nth-child(odd) {
      > td {
        background-color: #CCCCCC;;
      }
    }
    > tr:nth-child(even) {
      > td {
        background-color: #AAAAAA;;
      }
    }
  }
}

.user-table {
  width: 100%;
  background-color: lightgoldenrodyellow;;
  > thead {
    > th {
      background-color: darkorange;
    }
    .email-from, .email-to {  width: 25%;  }
    .key {  width: 15%;  }
    .time {  width: 25%;  }
    .checkbox {  width: 5%;  }
    .table-col-user-order-date{ width: 55%; }
    .table-col-user-order-payment{ width: 15%; }
    .table-col-user-order-method{ width: 15%; }
    .table-col-user-order-status{ width: 15%; }
  }
  > tbody {
    > tr:nth-child(odd) {
      > td {
        background-color: lightgoldenrodyellow;;
      }
    }
    > tr:nth-child(even) {
      > td {
        background-color: orange;;
      }
    }
  }
}

.product_info {
  width:25%;
  border-color: @PanelBorderColor;
  border-width: @PanelBorderWidth;
  border-style: @PanelBorderStyle;
  .info_header {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }
  .info_img {
    width: 100%;
    height: 100%;
    padding-bottom: 16px;
  }
  .info_price {
    width: 25%;
    bottom: 0px;
    font-size: 20px;
    font-weight: 500;
    position: absolute;
    text-align: center;
  }
}

.product-page {
  .product-page-header {
    height: 40px;
    font-size: 36px;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 50px;
    border-color: @PanelBorderColor;
    border-width: @PanelBorderWidth;
    border-style: @PanelBorderStyle;
  }
  .product-page-info {
    display: flex;
    display: -webkit-flex;
    .product-page-image {
      width: 80%;
      > img {
        max-width: 95%;
      }
    }
    .product-page-description {
      width: 20%;
      .btn-order{
        width: 100%;
        height: 60px;
        color: white;
        font-size: 36px;
        font-weight: bold;
        background-color: #FFAA00;
      }
      .btn-cart {
        width: 100%;
        height: 40px;
        color: #204d74;
        font-size: 24px;
        font-weight: bold;
      }
      .product-page-subheader {
        border-bottom: black 2px solid;
      }
      .product-page-price {
        text-align: right;
        > span {
          color: red;
        }
      }
    }
  }
}

.product-col {
  width: 100%;
  height: 72px;
  border: #DDDDDD 1px solid;
  display: flex;
  display: -webkit-flex;
  .product-col-checkbox {
    margin-left: 10px;
    margin-top: 30px;
  }
  > img {
    width:    74.89px;
    height:   64px;
    overflow: hidden;
    padding:  4px;
  }
  .product-col-detail {
    width: 100%;
    padding-top: 5px;
    padding-left: 5px;
    .product-col-header {
      width: 100%;
      font-size: 20px;
      font-weight: bold;
      padding-top: 5px;
      padding-left: 5px;
      border-bottom: #DDDDDD 1px solid;
    }
    .product-col-info {
      width: 100%;
      padding-left: 5px;
      padding-top: 10px;
      display: flex;
      display: -webkit-flex;
      .product-col-info-price {
        width: 25%;
        padding-left: 5%;
        color: #444444;
      }
      .product-col-info-weight {
        width: 25%;
        color: #444444;
      }
      .product-col-info-quantity {
        width: 25%;
        color: #444444;
      }
      .product-col-info-cancel {
        width: 10%;
      }
    }
  }
}

.product-detail-panel {
  width: 100%;
  padding-top: 50px;
  .basic-info {
    .column {
      display: flex;
      display: -webkit-flex;
      > div {
        width: 15%;
        text-align: right;
        padding-right: 10px;
      }
      > input, textarea, label, img {
        left: 100px;
        width: 80%;
      }
      > img {
        height: 50%;
      }
    }
  }
  .selection-info {
    display: flex;
    display: -webkit-flex;
    .img-holder {
      width: 35%;
      height: 35%;
      > img {
        width: 100%;
      }
      .sub-img-holder {
        width: 100%;
        overflow-x: scroll;
        overflow-y: hidden;
        > img,
        .column >img {
          width: 20%;
          height: 20%;
          position: relative;
        }
      }
    }
    .main-info {
      margin-left: 10%;
      width: 60%;
      .column {
        display: flex;
        display: -webkit-flex;
        > div {
          width: 15%;
          text-align: right;
          padding-right: 30px;
        }
        > input, textarea, label, img {
          left: 100px;
          width: 80%;
        }
        > img {
          height: 50%;
        }
        .size-section {
          display: flex;
          display: -webkit-flex;
          flex-wrap: wrap;
          width: 80%;
          text-align: left;
          >button {
            width:10%;
            text-align: center;
            margin-left: 2%;
            margin-right: 2%;
          }
          .selection-unable {
            color: lightgray;
            pointer-events: none;
          }
        }
        .color-section {
          display: flex;
          display: -webkit-flex;
          flex-wrap: wrap;
          width: 80%;
          text-align: left;
          >div {
            width:64px;
            height:64px;
            text-align: center;
            margin-left: 2%;
            margin-right: 2%;
            margin-bottom: 4%;
            >div {
              width: 74px;
              height: 74px;
              margin: -5px;
              background-color: orange;;
              position: absolute;
              opacity: 0.5;
              pointer-events: none;
            }
            >img {
              width:100%;
              height:100%;
            }
          }
          .selection-unable {
            >div {
              background-color: none;
            }
            >img {
              opacity: 0.3;
              pointer-events: none;
            }
          }
          >button {
            width:64px;
            height:64px;
            text-align: center;
            margin-left: 2%;
            margin-right: 2%;
            margin-bottom: 4%;
          }
        }
      }
    }
  }
}