<template name="InvitationPage">
    <br>
    <br>
    <br>
    <div id="invitation" class="panel-group">
        <div class="panel panel-info">
            <div class="panel-group col-sm-4">
                <div class="panel panel-info">
                    <div id="first-label" class="panel-heading">{{_ "Invite_By" "You"}}</div>
                    <div class="panel-body" id="profile">
                        <div class="form-horizontal" role="form">
                            <div class="list-group" id="first-group">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-group col-sm-4">
                <div class="panel panel-info">
                    <div id="second-label" class="panel-heading">{{_ "Invite_By" ""}} </div>
                    <div class="panel-body" id="profile">
                        <div class="form-horizontal" role="form">
                            <div class="list-group" id="second-group">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-group col-sm-4">
                <div class="panel panel-info">
                    <div id="third-label" class="panel-heading">{{_ "Invite_By" ""}} </div>
                    <div class="panel-body" id="profile">
                        <div class="form-horizontal" role="form">
                            <div class="list-group" id="third-group">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>