<template name="InvitationPage">
    <div id="invitation" class="panel-group">
        <br>
        <br>
        <br>
        <div class="panel panel-info col-sm-4">
            <div id="first-label" class="panel-heading">Invite By You</div>
            <div class="panel-body" id="profile">
                <div class="form-horizontal" role="form">
                    <div class="list-group" id="first-group">
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-info col-sm-4">
            <div id="second-label" class="panel-heading">Invite By </div>
            <div class="panel-body" id="profile">
                <div class="form-horizontal" role="form">
                    <div class="list-group" id="second-group">
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-info col-sm-4">
            <div id="third-label" class="panel-heading">Invite By</div>
            <div class="panel-body" id="profile">
                <div class="form-horizontal" role="form">
                    <div class="list-group" id="third-group">
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>