<template name="LoginPage">
    <div id="login" class="panel-group">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="panel panel-info panel-width-60">
            <div class="panel-heading"><span class="glyphicon glyphicon-log-in"></span> Login</div>
            <div class="panel-body">
                <div class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="control-label col-sm-3">Email:</label>
                        <div class="col-sm-9">
                            <input class="form-control" type="text" placeholder="Your Email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Password:</label>
                        <div class="col-sm-9">
                            <input class="form-control" type="password" placeholder="Your Password">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-5 col-sm-2">
                            <button class="btn btn-default" value="SetPW">Login</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="panel">-->
        <!--<div class="header">Login</div>-->
        <!--<br>-->
        <!--<div class="column">-->
              <!--<div>Email</div>-->
              <!--<input type="text" id="input_email">-->
        <!--</div>-->
        <!--<br>-->
        <!--<div class="column">-->
              <!--<div>Password</div>-->
              <!--<input type="password" id="input_password">-->
        <!--</div>-->
        <!--<br>-->
        <!--<button class="btn_login button-1-col">Login</button>-->
        <!--<br>-->
        <!--<br>-->
    <!--</div>-->
</template>