<template name="LoginPage">
    <div id="login" class="panel-group">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="panel panel-info panel-width-60">
            <div class="panel-heading"><span class="glyphicon glyphicon-log-in"></span> {{_ "Login_Header"}}</div>
            <div class="panel-body">
                <div class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="control-label col-sm-3">{{_ "Login_Email"}}:</label>
                        <div class="col-sm-9">
                            <input class="form-control" type="text" placeholder="{{_ "Login_Email_P"}}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">{{_ "Login_PW"}}:</label>
                        <div class="col-sm-9">
                            <input class="form-control" type="password" placeholder="{{_ "Login_PW_P"}}">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-5 col-sm-2">
                            <button class="btn btn-default" value="SetPW">{{_ "Btn_Login"}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>