<template name="LogoutPage">
    <div class="panel">
        <div class="header">Login</div>
        <br>
        <div class="column">
              <div>Email</div>
              <input type="text" id="input_email">
        </div>
        <br>
        <div class="column">
              <div>Password</div>
              <input type="password" id="input_password">
        </div>
        <br>
        <button class="btn_login button-1-col">Login</button>
        <br>
        <br>
    </div>
</template>