<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-orange navbar-fixed-top">
        <div class="container-fluid">
            {{#if User.Logged.In}}
            <div class="navbar-header">
                <a class="navbar-brand" onclick="Helpers.System.LocateTo('/home');">{{_ "WebsiteTitle"}}</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li><a onclick="Helpers.System.LocateTo('/cart');"><span class="glyphicon glyphicon-shopping-cart"></span> {{_ "Navbar_Cart"}}</a></li>
                    <li><a onclick="Helpers.System.LocateTo('/order');"><span class="glyphicon glyphicon-hdd"></span> {{_ "Navbar_Order"}}</a></li>
                    <li><a onclick="Helpers.System.LocateTo('/purchase');"><span class="glyphicon glyphicon-credit-card"></span> {{_ "Navbar_Purchase"}}</a></li>
                    {{#if User.IsAdmin}}
                        <li><a onclick="Helpers.System.LocateTo('/dashboard');"><span class="glyphicon glyphicon-dashboard"></span> {{_ "Navbar_Dashboard"}}</a></li>
                    {{/if}}
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-book"></span> {{_ "Language_Header"}}
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a onclick="Helpers.System.SelectLanguage('en')">{{_ "Language_en"}}</a></li>
                            <li><a onclick="Helpers.System.SelectLanguage('jp')">{{_ "Language_jp"}}</a></li>
                            <li><a onclick="Helpers.System.SelectLanguage('br')">{{_ "Language_br"}}</a></li>
                            <li><a onclick="Helpers.System.SelectLanguage('hk')">{{_ "Language_hk"}}</a></li>
                            <li><a onclick="Helpers.System.SelectLanguage('cn')">{{_ "Language_cn"}}</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li style="padding-top:10px; color:#004488;">
                        <label>{{_ "Translate_Input"}}: USD</label><input id="Nav_TransInVal" type="number" step="0.01" min="0" value="0" style="width:100px;">
                        <select id="Nav_TransCon">
                            <option value="HKD" selected>HKD</option>
                            <option value="JPY">JPY</option>
                        </select>
                        <button onclick="Helpers.ExchangeMoney.NavbarTranslate();">{{_ "Translate_Btn"}}</button>
                        <label> {{_ "Translate_Output"}}: </label> <label id="Nav_TransOutVal" style="width:150px;">00.00</label></li>
                    <!--<li><a onclick="Helpers.System.LocateTo('/invitation');"><span class="glyphicon glyphicon-list"></span> {{_ "Navbar_Invitation"}}</a></li>-->
                    <li><a onclick="Helpers.System.LocateTo('/profile');"><span class="glyphicon glyphicon-user"></span> {{_ "Navbar_Profile"}}</a></li>
                    <li><a onclick="Helpers.System.LocateTo('/logout');"><span class="glyphicon glyphicon-log-out"></span> {{_ "Navbar_Logout"}}</a></li>
                </ul>
            </div>
            {{/if}}
            {{#if User.Logged.Out}}
                <div class="navbar-header">
                    <a class="navbar-brand" onclick="Helpers.Reload();">{{_ "WebsiteTitle"}}</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a onclick="Helpers.System.LocateTo('');"><span class="glyphicon glyphicon-question-sign"></span> {{_ "Navbar_HowItWorks"}}</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-book"></span> {{_ "Language_Header"}}
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a onclick="Helpers.System.SelectLanguage('en')">{{_ "Language_en"}}</a></li>
                            <li><a onclick="Helpers.System.SelectLanguage('jp')">{{_ "Language_jp"}}</a></li>
                            <li><a onclick="Helpers.System.SelectLanguage('br')">{{_ "Language_br"}}</a></li>
                            <li><a onclick="Helpers.System.SelectLanguage('hk')">{{_ "Language_hk"}}</a></li>
                            <li><a onclick="Helpers.System.SelectLanguage('cn')">{{_ "Language_cn"}}</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a data-toggle="modal" data-target="#LoginModel"><span class="glyphicon glyphicon-log-in"></span> {{_ "Btn_Login"}}</a></li>
                </ul>
            {{/if}}
        </div>
    </nav>
</body>