<template name="ProfilePage">
    <div id="Profile" class="panel-group">
        <br>
        <br>
        <br>
        <div class="panel panel-info panel-width-60">
            <div class="panel-heading"><span class="glyphicon glyphicon-user"></span>{{_ "Profile_Title"}}</div>
            <div class="panel-body" id="profile">
                <div class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="email">Username:</label>
                        <div class="col-sm-10">
                            <label class="form-control"></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="email">Email:</label>
                        <div class="col-sm-10">
                            <label class="form-control"></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="email">Password:</label>
                        <div class="col-sm-10">
                            <button class="btn btn-default" value="ResetPW">{{_ "Btn_Reset"}}</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="email">Create Date:</label>
                        <div class="col-sm-10">
                            <label class="form-control"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-heading"><span class="glyphicon glyphicon-user"></span>Address Information</div>
            <div class="panel-body" id="address">
                <div class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="control-label col-sm-2">{{_ "Profile_Country"}}:</label>
                        <div class="col-sm-10">
                            <label class="form-control"></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">{{_ "Profile_City"}}:</label>
                        <div class="col-sm-10">
                            <label class="form-control"></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">{{_ "Profile_State"}}:</label>
                        <div class="col-sm-10">
                            <label class="form-control"></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">{{_ "Profile_Address"}}:</label>
                        <div class="col-sm-10">
                            <label class="form-control"></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">{{_ "Profile_Zipcode"}}:</label>
                        <div class="col-sm-10">
                            <label class="form-control"></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">{{_ "Profile_Phone"}}:</label>
                        <div class="col-sm-10">
                            <label class="form-control"></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button class="btn btn-default" value="EditAddress">{{_ "Btn_Edit"}}</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-heading"><span class="glyphicon glyphicon-user"></span>{{_ "Profile_Invitation"}}</div>
            <div class="panel-body" id="invitation">
                <div class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="email">{{_ "Invite_Remain"}}:</label>
                        <div class="col-sm-10">
                            <label class="form-control"></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button class="btn btn-default" value="WriteInvite">{{_ "Btn_Invite"}}</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="email">{{_ "Invite_By"}}:</label>
                        <div class="col-sm-10">
                            <label class="form-control"></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="ResetPassword" class="panel-group" style="display: none;">
        <br>
        <br>
        <br>
        <div class="panel panel-info panel-width-60">
            <div class="panel-heading"><span class="glyphicon glyphicon-user"></span>{{_ "ResetPW_Title"}}</div>
            <div class="panel-body">
                <div class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="control-label col-sm-3">{{_ "ResetPW_Origin"}}:</label>
                        <div class="col-sm-9">
                            <input class="form-control" type="password" placeholder="{{_ "ResetPW_Origin"}}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">{{_ "ResetPW_New"}}:</label>
                        <div class="col-sm-9">
                            <input class="form-control" type="password" placeholder="{{_ "ResetPW_New"}}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">{{_ "ResetPW_Confirm"}}:</label>
                        <div class="col-sm-9">
                            <input class="form-control" type="password" placeholder="{{_ "ResetPW_Confirm"}}">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-3">
                            <button class="btn btn-default" value="SetPW">{{_ "Btn_Save"}}</button>
                        </div>
                        <div class="col-sm-offset-2 col-sm-2">
                            <button class="btn btn-default" value="BackProfile">{{_ "Btn_Back"}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="EditAddress" class="panel-group" style="display: none;">
        <br>
        <br>
        <br>
        <div class="panel panel-info panel-width-60">
            <div class="panel-heading"><span class="glyphicon glyphicon-user"></span>{{_ "Profile_EditAddress"}}</div>
            <div class="panel-body">
                <div class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="control-label col-sm-2">{{_ "Profile_Country"}}:</label>
                        <div class="col-sm-10">
                            <input class="form-control" placeholder="{{_ "Profile_Country"}}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">{{_ "Profile_City"}}:</label>
                        <div class="col-sm-10">
                            <input class="form-control" placeholder="{{_ "Profile_City"}}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">{{_ "Profile_State"}}:</label>
                        <div class="col-sm-10">
                            <input class="form-control" placeholder="{{_ "Profile_State"}}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">{{_ "Profile_Address"}}:</label>
                        <div class="col-sm-10">
                            <input class="form-control" placeholder="{{_ "Profile_Address"}}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">{{_ "Profile_Zipcode"}}:</label>
                        <div class="col-sm-10">
                            <input class="form-control" placeholder="{{_ "Profile_Zipcode"}}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">{{_ "Profile_Phone"}}:</label>
                        <div class="col-sm-10">
                            <input class="form-control" placeholder="{{_ "Profile_Phone"}}">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-4">
                            <button class="btn btn-default" value="SaveAddress">{{_ "Btn_Save"}}</button>
                        </div>
                        <div class="col-sm-offset-2 col-sm-2">
                            <button class="btn btn-default" value="BackProfile">{{_ "Btn_Back"}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="Invite" class="panel-group" style="display: none;">
        <br>
        <br>
        <br>
        <div class="panel panel-info panel-width-60">
            <div class="panel-heading"><span class="glyphicon glyphicon-user"></span>{{_ "Invite_Title"}}</div>
            <div class="panel-body">
                <div class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="control-label col-sm-2">{{_ "Invite_Invitees"}}:</label>
                        <div class="col-sm-10">
                            <input class="form-control" placeholder="{{_ "Profile_Email"}}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">{{_ "Invite_Message"}}:</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" placeholder="{{_ "Invite_Message"}}"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-4">
                            <button class="btn btn-default" value="SendInvite">{{_ "Btn_Invite"}}</button>
                        </div>
                        <div class="col-sm-offset-2 col-sm-2">
                            <button class="btn btn-default" value="BackProfile">{{_ "Btn_Back"}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>