<template name="PurchasePage">
    <div class="panel-group" id="purchase">
        <br>
        <br>
        <br>
        <div class="panel panel-info panel-width-80">
            <div class="panel-heading"><span class="glyphicon glyphicon-user"></span>{{_ "Purchase_Header"}}</div>
            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="email">{{_ "Purchase_CashbaskRemain"}}:</label>
                        <div class="col-sm-9">
                            <label class="form-control PriceUS">US$ {{cashback_remain}} <span id='MyCRemain' class='PriceHK'>{{ExchangeMoney.GetExchangeMoney 'USD' 'HKD' cashback_remain 'MyCRemain'}}</span></label>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>{{_ "Purchase_Date"}}</th>
                        <th>{{_ "Purchase_ID"}}</th>
                        <th>{{_ "Purchase_Method"}}</th>
                        <th>{{_ "Purchase_Payment"}}</th>
                        <th>{{_ "Purchase_Cashback"}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each User.CashBack.ListAll}}
                    <tr class="{{check_method method}}">
                        <td>{{date}}</td>
                        <td>{{order}}</td>
                        <td>{{method}}</td>
                        <td>US$ {{payment}}</td>
                        <td>US$ {{value}}</td>
                    </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>