<template name="ResignerPage">
    <div class="panel">
        <div class="header">Resigner</div>
        <br>
        <div class="column">
              <div>Email</div>
              <input type="text" id="input_email">
        </div>
        <br>
        <div class="column">
              <div>Password</div>
              <input type="password" id="input_password">
        </div>
        <br>
        <div class="column">
            <div>Invite Key</div>
            <input type="text" id="input_key">
        </div>
        <br>
        <button class="btn_resigner button-1-col">Resigner</button>
        <br>
        <br>
    </div>
</template>