<template name="ResignerPage">
    <div id="regist" class="panel-group">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="panel panel-info panel-width-60">
            <div class="panel-heading">{{_ "Register_Header"}}</div>
            <div class="panel-body">
                <div class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="control-label col-sm-3">{{_ "Register_Username"}}:</label>
                        <div class="col-sm-9">
                            <input class="form-control" type="text" placeholder="{{_ "Register_Username"}}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">{{_ "Register_Email"}}:</label>
                        <div class="col-sm-9">
                            <input class="form-control" type="text" placeholder="{{_ "Register_Email"}}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">{{_ "Register_Password"}}:</label>
                        <div class="col-sm-9">
                            <input class="form-control" type="password" placeholder="{{_ "Register_Password"}}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">{{_ "Register_Key"}}:</label>
                        <div class="col-sm-9">
                            <input class="form-control" type="text" placeholder="{{_ "Register_Key"}} ">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-5 col-sm-2">
                            <button class="btn btn-default btn_register" value="Btn_Regist">{{_ "Btn_Regist"}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="panel">-->
        <!--<div class="header">Resigner</div>-->
        <!--<br>-->
        <!--<div class="column">-->
            <!--<div>Username</div>-->
            <!--<input type="text" id="input_name">-->
        <!--</div>-->
        <!--<br>-->
        <!--<div class="column">-->
              <!--<div>Email</div>-->
              <!--<input type="text" id="input_email">-->
        <!--</div>-->
        <!--<br>-->
        <!--<div class="column">-->
              <!--<div>Password</div>-->
              <!--<input type="password" id="input_password">-->
        <!--</div>-->
        <!--<br>-->
        <!--<div class="column">-->
            <!--<div>Invite Key</div>-->
            <!--<input type="text" id="input_key">-->
        <!--</div>-->
        <!--<br>-->
        <!--<button class="btn_resigner button-1-col">Resigner</button>-->
        <!--<br>-->
        <!--<br>-->
    <!--</div>-->
</template>